# json files
PunePorscheComments/
PunePorscheVideoMetadata/

#api key
Key.txt
preprocessing/huggingKey.txt

#final csv
eda/final_youtube_comments.csv
consolidated_youtube_comments.csv
preprocessing/translated_comments.txt
preprocessing/youtube_comments_english.csv
preprocessing/cleaned_youtube_comments.csv

openCoding/openCodingComments.csv
openCoding/openCodingComments.xlsx
LLMsTM/AnishaopenCodingCommentsLabeled.xlsx
LLMsTM/AnishaopenCodingCommentsLabeled.csv
openCoding/youtube_comments_unlabeled.csv
LLMsTM/unlabeled_sampled.csv
LLMsTM/labeled_sampled_output.csv
LLMsTM/labeled_sampled.csv

#environment
.venv/

#models
Llama-3.2-3B-Instruct/

final sample output/